<footer>
<div class="wrapper">
	<div class="footer-col-wrapper">
	    <div class="footer-col footer-col-1"> 
	    	<p class="text">{{ site.title }} by <a href="http://mehrdadafshari.com">Mehrdad Afshari</a></p>
		</div>
		<div class="footer-col footer-col-2"></div>
		<div class="footer-col footer-col-3">
			<p class="text" style="text-align:right"><img src="https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png" width="20" height="16" alt="">&nbsp;<span style="color:black">Subscribe</span>:<br>follow <a href="https://twitter.com/leakycode">@LeakyCode</a></p>
		</div>
	</div>
</footer>